body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#produkt-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.produkt {
    background: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.produkt img {
    max-width: 100%;
    height: auto;
}

.product img {
    width: 200px; /* Einheitliche Breite */
    height: 250px; /* Einheitliche Höhe */
    object-fit: cover; /* Schneidet das Bild so zu, dass es den Container füllt */
    display: block;
    margin: 0 auto; /* Zentriert das Bild */
}

